@import './fonts.scss';
@import 'variables/colors.scss';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Fieldwork', sans-serif;
    background: $forth-color;
    width: 100%;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &Wrapper {
        max-width: 1384px;
        width: 100%;
        margin: 0 28px;
    }
}

.Toastify {
    div {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: $secondary-color-light;
    }
}
